body {
  width: 360px;
  height: 500px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}


h1 {
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
}
